.b_regular {
  background-color: $red;
  color: $white;
  font-size: 0.75em;
  font-weight: 600;
  letter-spacing: 0.094em;
  padding: 10px;
  text-transform: uppercase;
  &:hover {
    text-decoration: underline;
    background-color: $red;
  }
}
