.b_regular {
  color: $white;
  font-size: 0.75em;
  font-weight: 600;
  letter-spacing: 0.094em;
  padding: 10px;
  text-transform: uppercase;
  &:hover {
    text-decoration: underline;
  }
}
.b_sangreToro {
  background-color: $red;
  &:hover {
    background-color: $red;
  }
}
.b_vinaEsmeralda {
  background-color: $darkGreen2;
  &:hover {
    background-color: $darkGreen2;
  }
}
