.componentContent {
  &__gallery {
    img {
      margin-bottom: 20px;
      width: 100%;
      @media only screen and (min-width: 768px) {
        margin-bottom: 0;
      }
    }
  }
  &__image {
    &-wrapper {
      margin-top: 20px;
      text-align: center;
      img {
        max-width: 270px;
        max-height: 453px;
      }
    }
  }
  &__slogan {
    min-height: 400px;
    text-align: center;
    p {
      text-align: justify;
    }
  }
  &__title {
    width: 220px;
  }
  &__bold {
    font-weight: bold;
  }
}
