.modal {
  -webkit-overflow-scrolling: touch;
  bottom: 0;
  display: none;
  left: 0;
  outline: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1050;
  .modal-dialog {
    margin: 10px;
    position: relative;
    width: auto;
    @media only screen and (min-width: 768px) {
      margin: 30px auto;
      width: 600px;
    }
  }
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-content {
  background-clip: padding-box;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  outline: 0;
  position: relative;
  @media only screen and (min-width: 768px) {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  .modal-header {
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.43px;
    padding: 15px;
    &:before,
    &:after {
      content: " ";
      display: table;
    }
    button {
      margin-top: 0 !important;
      min-width: 0 !important;
    }
    .modal-title {
      margin: 0;
      line-height: 1.42857;
    }
  }
}
