.indexNav {
  ul {
    text-align: left;
    margin: 0 0 2.5em !important;
    li {
      overflow: hidden;
      &:first-child {
        a {
          margin-top: 0;
        }
      }
      a {
        opacity: 0.4;
        color: #5c5b5b;
        display: block;
        font-size: 1em;
        font-weight: 600;
        margin-top: 1em;
      }
    }
  }
}
