.l-distMainMenu {
  #s4-bodyContainer {
    height: 100%;
    padding-bottom: 0;
    > div {
      height: 100%;
    }
  }
  main {
    padding: 0;
    text-align: center;
    @media only screen and (min-width: 1024px) {
      display: flex;
      flex-flow: column nowrap;
      height: 100vh;
      justify-content: center;
    }
  }
}
