.l-footer {
  align-items: center;
  background-color: $brown;
  display: flex;
  margin-top: auto;
  width: 100%;
  .ctn {
    padding: 50px 0;
    text-align: center;
    nav {
      margin: 0 0 0.5em 0;
      ul {
        li {
          text-align: left;
          border-bottom: 1px solid $med-brown;
          &:first-child {
            a {
              margin-left: 0;
            }
          }
          @media only screen and (min-width: 768px) {
            display: inline-block;
            border-bottom: none;
          }
          a {
            display: block;
            letter-spacing: 0.1em;
            padding: 1em 0;
            @media only screen and (min-width: 768px) {
              border: none;
              margin-left: 10px;
              padding: 0;
            }
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
    .social-networks {
      padding: 0.5em 3em 0 3em;
      text-align: center;
      ul {
        li {
          display: inline-block;
          border-bottom: 0 none;
          &:first-child {
            .ico-svg {
              margin-left: 0;
            }
          }
          a {
            border-bottom: none;
            display: block;
          }
        }
      }
    }
    .siteLink {
      font-size: 14px;
      display: block;
      letter-spacing: 0.1em;
      margin-top: 10px;
    }
  }
  .ico-svg {
    display: inline-block;
    fill: $white;
    height: 25px;
    margin-left: 5px;
    position: relative;
    width: 25px;
    &.youtube {
    }
  }
}
