.l-footer {
  align-items: center;
  background-color: $brown;
  margin-top: auto;
  width: 100%;
  display: flex;
  .ctn {
    padding: 50px 0;
    text-align: center;
    nav {
      margin: 0 0 0.5em 0;
      ul {
        li {
          text-align: left;
          border-bottom: 1px solid $med-brown;
          &:first-child {
            a {
              margin-left: 0;
            }
          }
          @media only screen and (min-width: 768px) {
            display: inline-block;
            border-bottom: none;
          }
          a {
            display: block;
            letter-spacing: 0.1em;
            padding: 1em 0;
            margin-left: 10px;
            @media only screen and (min-width: 768px) {
              border: none;
              padding: 0;
            }
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
    .social-networks {
      display: inline-block;
      padding: 0.5em 3em 0 3em;
      text-align: center;
      ul {
        li {
          display: inline-block;
          border-bottom: 0 none;
          &:first-child {
            a {
              margin-left: 0;
            }
          }
          a {
            margin-left: 5px;
          }
          a {
            border-bottom: none;
            display: block;
            img {
              @media only screen and (min-width: 320px) {
                width: 30px;
                height: 30px;
              }
              @media only screen and (min-width: 768px) {
                width: 25px;
                height: 25px;
              }
            }
          }
        }
      }
    }
    .siteLink {
      font-size: 14px;
      display: block;
      letter-spacing: 0.1em;
      margin-top: 10px;
    }
  }
}
