.l-home {
  .svg-logocorporate {
    width: 300px;
    fill: $white;
    margin: 0 auto;
    display: block;
  }
  body {
    font-size: 16px;
    font-family: sans-serif;
    background-color: transparent;
    height: 100%;
    background-color: #262626;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    @media only screen and (min-width: 768px) {
      align-items: center;
      // display: -ms-flexbox;
      display: block;
      justify-content: center;
    }
    .container {
      .imageContainer {
        @media only screen and (min-width: 768px) {
          display: flex;
          justify-content: center;
        }
      }
      .logoCorporate {
        width: 150px;
        height: auto;
        display: block;
        margin: 40px auto 0 auto;
      }
      a,
      a:visited {
        color: $white;
        font-size: 1.8em;
        margin-top: 20px;
      }
    }
  }
  #s4-workspace {
    height: 100% !important;
  }
}
