.l-primaryNav {
  ul {
    li {
      a {
        display: block;
        text-transform: uppercase;
        overflow: hidden;
        &:hover {
          color: $white;
          text-decoration: none;
        }
      }
    }
  }
}
.sangreToroNav {
  a {
    color: $red;
    font: 22px "MyWebFont2", serif;
    letter-spacing: 0.1em;
    line-height: normal;
    padding: 0 0 0 5px;
    &:hover {
      background-color: $black;
    }
  }
}
.vinaEsmeraldaNav {
  a {
    color: $darkGreen2;
    font: 16px "Lato", serif;
    padding: 5px;
    display: block;
    &:hover {
      background-color: $darkGreen2;
    }
  }
}
