<footer class="l-footer l-footerSangreToro">
        <div class="container-fluid">
          <div class="ctn">
            <nav>
              <ul>
                <li><a href="#">LEGAL NOTICE</a></li>
                <li><a href="#">COOKIE POLICY</a></li>
                <li><a href="#">PRIVACY POLICY</a></li>
              </ul>
            </nav>
            <div class="social-networks">
              <ul>
                <li>
                  <a href="#"
                    ><img src="../images/icon-instagram.png" alt="Instagram"
                  /></a>
                </li>
            </div>
            <a class="siteLink" href="http://www.vinaesmeralda.com">Sangre De Toro</a>
          </div>
        </div>
    </footer>