.familiaTorresTheme {
  .componentContent__slogan {
    p {
      font: 16px "Arial", serif;
      line-height: 1.25em;
    }
  }
  .l-content {
    .labelDistro,
    .labelSecondary {
      font: 20px "Arial", serif;
      color: $black;
    }
  }
  .l-header {
    padding: 10px 0;
    background-color: $darkGrey;
    .logoFigure {
      width: 180px;
    }
    .secondary-navigation {
      background-color: $darkGrey;
      overflow: hidden;
    }
  }
  .l-footer {
    background-color: $darkGrey;
    nav {
      ul {
        li {
          a {
            color: $white;
            font: 16px "Roboto", serif;
          }
        }
      }
    }
    .siteLink {
      color: $white;
    }
  }
  .l-primaryNav {
    a {
      color: $darkGrey;
      font: 16px "Georgia", serif;
      line-height: normal;
      padding: 3px 0 3px 5px;
      &:hover {
        color: $white;
        background-color: $darkGrey;
      }
    }
  }
}
