.familiaTorresTheme {
  .componentContent__slogan {
    p {
      font: 16px "Arial", serif;
      line-height: 1.25em;
    }
  }
  .l-content {
    .labelDistro {
      font: 18px "Georgia", serif;
    }
    .labelSecondary {
      font: 20px "Arial", serif;
      color: $black;
    }
  }
  .l-header {
    padding: 10px 0;
    background-color: $darkGrey;
    .logoFigure {
      width: 180px;
    }
    .logo-svg {
      fill: #ffffff;
      width: 200px;
    }
    .secondary-navigation {
      background-color: $darkGrey;
      overflow: hidden;
      .icon-navigation {
        svg {
          fill: #ffffff;
        }
      }
    }
  }
  .l-footer {
    background-color: $darkGrey;
    a {
      font: 14px "Georgia", serif;
    }
    nav {
      ul {
        li {
          a {
            color: $white;
            font: 16px "Georgia", serif;
          }
        }
      }
    }
    .siteLink {
      color: $white;
    }
  }
  .l-primaryNav {
    a {
      color: $darkGrey;
      font: 18px "Georgia", serif;
      line-height: normal;
      padding: 3px 0 3px 5px;
      &:hover {
        color: $white;
        background-color: $darkGrey;
      }
    }
  }
  .l-mainContent {
    .componentContent__slogan p:first-child {
      text-align: center;
    }
  }
}
