@font-face {
  font-family: "Caslon";
  src: url("../fonts/AdobeCaslonProRegular.eot");
  src: url("../fonts/AdobeCaslonProRegular.eot#iefix")
      format("embedded-opentype"),
    url("../fonts/AdobeCaslonProRegular.ttf");
}
@font-face {
  font-family: "Heroic";
  src: url("../fonts/HeroicCondensed-Bold.eot");
  src: url("../fonts/HeroicCondensed-Bold.eot#iefix")
      format("embedded-opentype"),
    url("../fonts/HeroicCondensed-Bold.ttf"),
    url("../fonts/HeroicCondensed-Bold.woff"),
    url("../fonts/HeroicCondensed-Bold.woff2");
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.ttf");
}
@font-face {
  font-family: "Hoefler";
  src: url("../fonts/HoeflerText.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Noto";
  src: url("../fonts/NotoSerif-Regular.ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.ttf");
}
@font-face {
  font-family: "PlayfairDisplay";
  src: url("../fonts/PlayfairDisplay-Regular.ttf");
}
