//imports-----------------------------------------------
//Marimar title
@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap");
//Marimar body
@import url("https://fonts.googleapis.com/css?family=Montserrat:300&display=swap");
//El gobernador, rocado, magdala title
@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");
//El gobernador, rocado, magdala body
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

//Viña esmeralda title
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

//viña esmeralda body
@font-face {
  font-family: "Hoefler";
  src: url("../fonts/HoeflerText-Roman.eot");
  src: url("../fonts/HoeflerText-Roman.eot?#iefix") format("embedded-opentype"),
    url("../fonts/HoeflerText-Roman.ttf") format("truetype"),
    url("../fonts/HoeflerText-Roman.woff") format("woff");
}

//sangre de toro title
@font-face {
  font-family: "Heroic";
  src: url("../fonts/HeroicCondensed-Bold.eot");
  src: url("../fonts/HeroicCondensed-Bold.eot#iefix")
      format("embedded-opentype"),
    url("../fonts/HeroicCondensed-Bold.ttf"),
    url("../fonts/HeroicCondensed-Bold.woff");
}

//sangre de toro body

@import url("https://fonts.googleapis.com/css?family=Libre+Caslon+Text&display=swap");

//Jean Leon
@font-face {
  font-family: "leaguegothic";
  src: url("../fonts/LeagueGothic-Regular.eot");
  src: url("../fonts/LeagueGothic-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/LeagueGothic-Regular.ttf"),
    url("../fonts/LeagueGothic-Regular.woff");

  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "futura";
  src: url("../fonts/FuturaStd-Medium.eot");
  src: url("../fonts/FuturaStd-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/FuturaStd-Medium.ttf"), url("../fonts/FuturaStd-Medium.woff");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BrandonGrotesqueWeb-Bold";
  src: url("../fonts/396989_3_0.eot");
  src: url("../fonts/396989_3_0.eot?#iefix") format("embedded-opentype"),
    url("../fonts/396989_3_0.woff2") format("woff2"),
    url("../fonts/396989_3_0.woff") format("woff"),
    url("../fonts/396989_3_0.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
//Chile title
@font-face {
  font-family: "Abril";
  src: url("../fonts/AbrilDisplay-SemiBold.eot");
  src: url("../fonts/AbrilDisplay-SemiBold.eot#iefix")
      format("embedded-opentype"),
    url("../fonts/AbrilDisplay-SemiBold.ttf"),
    url("../fonts/AbrilDisplay-SemiBold.woff"),
    url("../fonts/AbrilDisplay-SemiBold.woff2"),
    url("../fonts/AvenirLTStd-Light.svg");
}

//Chile body
@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirLTStd-Light.eot");
  src: url("../fonts/AvenirLTStd-Light.eot#iefix") format("embedded-opentype"),
    url("../fonts/AvenirLTStd-Light.ttf"),
    url("../fonts/AvenirLTStd-Light.woff"),
    url("../fonts/AvenirLTStd-Light.woff2"),
    url("../fonts/AbrilDisplay-SemiBold.svg");
}
