.governadorTheme {
  .componentContent__slogan {
    padding: 20px;
    p {
      font: 18px "Roboto", serif;
      line-height: 1.25em;
    }
  }
  .l-header {
    .logoFigure {
      width: 225px;
    }
    nav ul li a {
      color: $black;
    }
    .secondary-navigation {
      background-color: $yellowGreen;
    }
  }
  .l-footer {
    background-color: $black;
    a {
      color: $white;
      font: 16px "MyWebFont2", serif;
    }
  }
  .l-primaryNav {
    a {
      color: $black;
      font: 18px "Noto", serif;
      letter-spacing: 0.1em;
      line-height: normal;
      padding: 0 0 0 5px;
      &:hover {
        background-color: $yellowGreen;
        color: $black;
      }
    }
  }
}
