.jeanLeonTheme {
  .componentContent__slogan {
    p {
      font: 20px "Roboto", serif;
      line-height: 1.25em;
    }
  }
  .l-header {
    .logoFigure {
      height: 100px;
    }
    .secondary-navigation {
      background-color: $black;
      .icon-navigation {
        svg {
          fill: #ffffff;
        }
      }
      .logo {
        .logo-svg {
          fill: #ffffff;
          width: 200px;
        }
      }
    }
  }
  .l-footer {
    background-color: $grey;
    a {
      color: $black;
      font: 18px "leaguegothic", serif;
    }
    .ctn {
      .siteLink {
        font-size: 16px;
      }
    }
    .ico-svg {
      fill: $black;
    }
  }
  .l-content {
    .labelDistro,
    .labelSecondary {
      font: 20px "Roboto", serif;
      color: $black;
    }
  }
  .l-content {
    .labelDistro {
      font: 20px "leaguegothic", serif;
    }
    .textBrandVideos {
      font: 20px "Roboto", serif;
    }
  }
  .l-primaryNav {
    a {
      color: $black;
      font: 20px "leaguegothic", serif;
      letter-spacing: 0;
      padding: 0 0 0 5px;
      &:hover {
        background-color: $black;
        color: $white;
      }
    }
  }
}
