.magdalaTheme {
  .componentContent__slogan {
    padding: 20px;
    p {
      font: 16px "Roboto", serif;
      line-height: 1.25em;
    }
  }
  .lmaincontainer {
    .labelDistro {
      color: $orange;
    }
  }
  .l-header {
    padding: 10px 0;
    background-color: $orange;
    .logoFigure {
      width: 180px;
    }
    .secondary-navigation {
      background-color: $orange;
      overflow: hidden;
    }
  }
  .l-footer {
    background-color: $black;
    a {
      color: $white;
      font: 16px "MyWebFont2", serif;
    }
  }
  .l-primaryNav {
    a {
      color: $black;
      font: 18px "Noto", serif;
      letter-spacing: 0.1em;
      line-height: normal;
      padding: 0 0 0 5px;
      &:hover {
        color: $black;
        background-color: $orange;
      }
    }
  }
}
