.magdalaTheme {
  font: 18px "MyWebFont", serif;
  line-height: 1.25em;
  p {
    font: 18px "MyWebFont", serif;
    line-height: 1.25em;
  }
  .l-header {
    .logoFigure {
      width: 180px;
    }
    .secondary-navigation {
      background-color: $orange;
    }
    nav ul li a {
      color: $gold;
    }
  }
  .l-footer {
    background-color: $orange;
    a {
      color: $gold;
      font: 16px "MyWebFont2", serif;
    }
  }
  .l-primaryNav {
    a {
      color: $gold;
      font: 22px "MyWebFont2", serif;
      letter-spacing: 0.1em;
      line-height: normal;
      padding: 0 0 0 5px;
      &:hover {
        background-color: $orange;
      }
    }
  }
}
