.marimarTheme {
  font: 18px "Montserrat", serif;
  line-height: 1.25em;
  p {
    font: 18px "Montserrat", serif;
    line-height: 1.25em;
  }
  .l-header {
    .secondary-navigation {
      background-color: $brown;
    }
    .logoFigure {
      width: 200px;
    }
    .header-search {
      display: none;
    }
    nav ul li a {
      color: $white;
    }
  }
  .l-footer {
    background-color: $black;
    a {
      color: $white;
      font: 16px "Heroic", serif;
    }
  }
  .l-primaryNav {
    a {
      color: $black;
      font: 18px "PlayfairDisplay", serif;
      letter-spacing: 0.1em;
      line-height: normal;
      padding: 0 0 0 5px;
      &:hover {
        background-color: $brown;
        color: $black;
      }
    }
  }
}
