.ms-tileview-tile-detailsBox,
.s4-itm-selected.ms-tileview-tile-selectionBox,
.ms-listviewtable thead {
  display: none;
}
.ms-tileview-tile-content {
  background-color: transparent !important;
  a {
    display: block;
    img {
      bottom: 0 !important;
      height: 142px;
      right: 0 !important;
      top: 0 !important;
      width: 150px;
    }
  }
}
