.torresBrandyTheme {
  p {
    font: 18px "MyriadPro", serif;
    line-height: 1.25em;
  }
  .l-content {
    .labelDistro,
    .labelSecondary {
      font: 20px "MyriadPro", serif;
      color: $black;
    }
  }
  .l-content {
    .labelDistro {
      font: 22px "BrandonGrotesqueWeb-Bold", serif;
    }
  }
  .l-header {
    .secondary-navigation {
      background-color: $black;
    }
    nav ul li a {
      color: $yellow;
    }
  }
  .l-footer {
    background-color: $yellow;
    a {
      color: $black;
      font: 18px "Heroic", serif;
    }
    .ico-svg {
      fill: $black;
    }
  }
  .l-primaryNav {
    a {
      color: $black;
      font: 22px "BrandonGrotesqueWeb-Bold", serif;
      letter-spacing: 0.1em;
      line-height: normal;
      padding: 0 0 0 5px;
      &:hover {
        background-color: $yellow;
        color: $black;
      }
    }
  }
}
