.torresPropertiesTheme {
  p {
    font: 16px "Arial", serif;
    line-height: 1.25em;
  }
  .l-content {
    .labelDistro,
    .labelSecondary {
      font: 20px "Arial", serif;
      color: $darkGrey;
    }
  }
  .l-header {
    .secondary-navigation {
      background-color: $darkGrey;
    }
  }
  .l-footer {
    background-color: $darkGrey;
    a {
      color: $white;
      font: 16px "Heroic", serif;
    }
    .ico-svg {
      fill: $white;
    }
  }
  .l-primaryNav {
    a {
      color: $darkGrey;
      font: 18px "Georgia", serif;
      letter-spacing: 0.1em;
      line-height: normal;
      padding: 3px 0 3px 5px;
      &:hover {
        background-color: $darkGrey;
        color: $white;
      }
    }
  }
}
