.torresChileTheme {
  line-height: 1.25em;
  p {
    font: 16px "Lato", serif;
    line-height: 1.25em;
  }
  .l-content {
    .labelDistro,
    .labelSecondary {
      font: 20px "Lato", serif;
      color: $black;
    }
  }
  .l-content {
    .labelDistro {
      font: 16px "TradeGothicLtStd", serif;
    }
  }
  .l-header {
    .secondary-navigation {
      background-color: $darkGreen;
      .icon-navigation svg {
        fill: #ffffff;
      }
      .logo {
        .logo-svg {
          fill: #ffffff;
          width: 200px;
        }
      }
    }
    nav ul li a {
      color: $white;
    }
  }
  .l-footer {
    background-color: $black;
    a {
      color: $white;
      font: 16px "TradeGothicLtStd", serif;
    }
  }
  .l-primaryNav {
    a {
      color: $black;
      font: 16px "TradeGothicLtStd", serif;
      letter-spacing: 0.1em;
      line-height: normal;
      padding: 0 0 0 5px;
      &:hover {
        background-color: $darkGreen;
        color: $gold;
      }
    }
  }
}
