//----------------------------------*\
// COLORS
//----------------------------------*/
$black: #000;
$brown: #beb0aa;
$dark-brown: #5c5b5b;
$homeBrown: #211916;
$dark-gold: #b8a76f;
$darkGreen2: #1b4624;
$darkGreen: #21362b;
$darkGrey: #262626;
$grey: #d0d0d0;
$gold: #ad976e;
$green: #e0de94;
$grey: #f0f0f0;
$light-brown: #a09484;
$light-green: #f1f6e9;
$lightGreen: #f7faf0;
$lightGrey: #ededed;
$med-brown: #979797;
$orange: #f47d4c;
$red: #dd0b2b;
$white: #fff;
$yellow: #ffc000;
$yellowGreen: #e1e640;
