.veTheme {
  .l-content {
    .labelDistro,
    .labelSecondary {
      color: $darkGreen2;
    }
  }
  .l-content {
    .labelDistro {
      font: 16px "Lato", serif;
    }
  }
  .l-header {
    .secondary-navigation {
      background-color: $light-green;
    }
    .header-search {
      display: none;
    }
    .logo-svg {
      fill: $darkGreen2;
    }
    nav ul li a {
      color: $white;
    }
  }
  .l-footer {
    background-color: $light-green;
    a {
      color: $darkGreen2;
      font: 16px "Lato", serif;
    }
    .ico-svg {
      fill: $darkGreen2;
    }
  }
  .lmaincontainer {
    .labelDistro {
      color: $darkGreen2;
    }
  }
  .l-primaryNav {
    a {
      color: $darkGreen2;
      font: 16px "Lato", serif;
      padding: 5px;
      display: block;
      &:hover {
        background-color: $darkGreen2;
      }
    }
  }
  .componentContent__slogan {
    background-color: $white;
    p {
      font: 18px "Lato", serif;
    }
  }
}
