<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="<%=htmlWebpackPlugin.files.chunks.main.css %>"
    />
    <title>Torres</title>
  </head>
  <body>
    <div class="l-pageContainer">
      <%= require('html-loader!./partials/headerPartial.html') %>
      <main class="container l-mainContainer">
        <div class="l-content">
          <div class="l-row">
            <div class="l-mainContent l-12-cols">
              <nav class="indexNav">
                <ul>
                  <li>
                    <a href="./home.html">Home</a>
                  </li>
                  <li>
                    <a href="./distProd.html"
                      >Distribuidora Marcas y Productos</a
                    >
                  </li>
                  <li>
                    <a href="./distWines.html">Menu Wines</a>
                  </li>
                  <li>
                    <a href="./distSpirits.html">Menu Spirits</a>
                  </li>
                  <li><a href="./elgobernador.html">El Gobernador</a></li>
                  <li><a href="./familiaTorres.html">Familia Torres</a></li>
                  <li><a href="./jeanLeon.html">Jean Leon</a></li>
                  <li><a href="./magdala.html">Magdala</a></li>
                  <li><a href="./marimar.html">Marimar</a></li>
                  <li><a href="./otherBrands.html">Other Brands</a></li>
                  <li><a href="./rocado.html">Rocado</a></li>
                  <li><a href="./sangreDeToro.html">Sangre de Toro</a></li>
                  <li><a href="./torresBrandy.html">Torres Brandy</a></li>
                  <li><a href="./torresCorporate.html">Torres Corporate</a></li>
                  <li><a href="./torresChile.html">Torres Chile</a></li>
                  <li>
                    <a href="./torresProperties.html">Torres Properties</a>
                  </li>
                  <li><a href="./vinaEsmeralda.html">Viña Esmeralda</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
  </body>
</html>
